.megadiv {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 30vw;
  background-color: #d9d9d9;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
  box-sizing: border-box;
}

.personal-info div {
  display: flex;
  align-items: center;
  height: 50px;
}

.personal-info-div {
  display: flex;
  flex-direction: row;
}

.default-text {
  box-sizing: border-box;
  padding-left: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.default-text p {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}

.user-profile-image {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.profile-container {
  display: flex;
  background-image: linear-gradient(to bottom, #d9d9d9, black);
  height: 100vh;
  width: 100vw;
  gap: 20px;
}

.user-name-div {
  display: flex;
  justify-content: center;
  height: 60px;
  width: 100%;
  padding-top: 10px;
  align-items: center;
}

.user-name {
  font-size: 25px;
  color: black;
}

.full-name {
  display: flex;
  gap: 5px;
}

.email-div {
  display: flex;
  gap: 5px;
}

.phone-div {
  display: flex;
  gap: 5px;
}

.address-div {
  display: flex;
  gap: 5px;
}

.personal-info {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.personal-info div p {
  color: #797777;
}


.button-div {
  display: flex;
  justify-content: flex-end;
  padding-right: 1vw;
}


.logout-button {
  width: 5vw;
}


.user-available-items {
  box-sizing: border-box;
  height: 80vh;
  width: 100%;
  background-color: #d9d9d9;
  margin-top: 20px;
  margin-right: 20px;
  padding-left: 30px;
  padding-top: 30px;
  font-size: 25px;
  border-radius: 20px;
}

@media only screen and (max-device-width: 480px) {
  .profile-container {
    display: flex;
    flex-direction: column;
    background-color: #797777;
    background-image: none;
  }

  .user-available-items {
    height: 100%;
    width: unset;
    background-color: #d9d9d9;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 30px;
    padding-left: 0px;
    font-size: 25px;
  }

  .buy-history {
    display: flex;
    justify-content: center;
  }

  .megadiv {
    display: flex;
    background-color: pink;
    width: unset;
    height: 50%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
  }

  .black-div {
    height: 0;
    width: 0;
  }
}
