* {
  /* Elimina el subrayado por defecto de los enlaces */
}

.aaa {
  display: flex;
}

.WishListContainer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: calc(100vh - 42px);
}

.tableContainer {
  padding: 30px;
  padding-left: 40px;
}

.table {
  background-color: #969696;
  height: 500px;
  width: 900px;
  overflow: auto;
}

.rowHeader {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background: #969696;
  padding: 10px;
  gap: 10px;
  height: 10px;
}

.row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background: #b6b6b6;
  padding: 10px;
  gap: 10px;
  height: 30px;
}

.cellImagenes {
  display: flex;
  width: 120px;
  overflow: auto;
}
.cellImagenes a {
  display: inline;
  width: 120px;
  white-space: nowrap;
  padding-right: 5px;
  list-style: none;
  text-decoration: none;
  color: black;
}

.productContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.actions {
  display: flex;
  gap: 10px;
}

.deleteButton {
  width: 70px;
  background-color: rgba(255, 0, 0, 0.74);
  border: none;
  border-radius: 10px;
}

.cartButton {
  width: 50px;
  border-radius: 10px;
}
