.aaa {
  display: flex;
}

.WishListContainer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: calc(100vh - 42px);
}

.tableContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 30px;
  padding-left: 40px;
}

.table {
  border-radius: 10px;
  background-color: #969696;
  height: 70vh;
  width: 70vw;
  overflow: auto;
  border: solid;
}

.rowHeader {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background: #969696;
  padding: 10px;
  gap: 10px;
  height: 20px;
  font-weight: bold;
}

.row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background: #B6B6B6;
  padding: 10px;
  gap: 190px;
  height: 30px;
  /* border-left: solid;
  border-top: solid;
  border-right: solid; */


}

.cellImagenes {
  display: flex;
  width: 120px;
  overflow: auto;
}
.cellImagenes a {
  display: inline;
  width: 120px;
  white-space: nowrap;
  padding-right: 5px;
  list-style: none;
  text-decoration: none;
  color: black;
}

.productContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.actions {
  display: flex;
  gap: 10px;
}

.deleteButton {
  cursor: pointer;
  width: 70px;
  background-color: rgba(255, 0, 0, 0.639);
  border: none;
  border-radius: 10px;
}
.deleteButton:hover{
  background-color: white;
  color: rgba(255, 0, 0, 0.639);
}
.cartButton {
  cursor: pointer;
  width: 50px;
  border-radius: 10px;
  border: none;
}
.cartButton:hover{
  background-color: black;
  color: white;
}