.nav-container {
  height: 42px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: whitesmoke;
  padding-left: 5px;
  padding-right: 5px;
}

.left-side-nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.right-side-nav {
  display: flex;
  gap: 50px;
  font-size: 22px;
  align-items: center;
}

.image-gm2-nav {
  height: 28px;
}

.gm2-nav {
  display: flex;
  align-items: center;
}

.image-profile-nav {
  height: 28px;
}


.gm2-nav-responsive {
  display: flex;
  align-items: center;
}


.title-nav {
  text-decoration: none;
  color: whitesmoke;
}

.title-nav-responsive {
  display: flex;
  align-items: center;
}


.metrics-nav {
  text-decoration: none;
  color: whitesmoke;
  padding: 4px;
}

.metrics-nav:hover {
  background-color: whitesmoke;
  color: black;
  border-radius: 1rem;
}

.cart-nav {
  text-decoration: none;
  color: whitesmoke;
  padding: 4px;
}

.cart-nav:hover {
  background-color: whitesmoke;
  color: black;
  border-radius: 1rem;
}

.wishlist-nav {
  text-decoration: none;
  color: whitesmoke;
  padding: 4px;
}

.wishlist-nav:hover {
  background-color: whitesmoke;
  color: black;
  border-radius: 1rem;
}

.shop-nav {
  text-decoration: none;
  color: whitesmoke;
  padding: 4px;
}

.shop-nav:hover {
  background-color: whitesmoke;
  color: black;
  border-radius: 1rem;
}

.login-nav {
  display: flex;
  align-items: center;
}

.active {
  background-color: whitesmoke;
  color: black;
  border-radius: 1rem;
}


.nav-container-responsive {
  box-sizing: border-box;
  display: none;
  align-items: center;
}

.left-side-nav-responsive {
  display: flex;
}



.menu-image {
  height: 35px;
}


.gm2-nav-responsive {
  padding-left: 10px;
}


.dropdown-toggle {
  position: fixed;
  left: 89%;
  top: 2px;
}


.dropdown-list {
  position: fixed;
  left: 85%;
  top: 4%;
  display: flex;
  flex-direction: column;
  background-color: blue;
  gap: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.dropdown-list li a {
  color: white
}



@media only screen and (max-device-width: 480px) {
  .nav-container {
    display: none;
  }

  .nav-container-responsive {
    position: fixed;
    width: 100vw;
    height: 40px;
    background-color: blue;
    display: flex;
    justify-content: space-between;
  }

  .home {
    padding-top: 40px;
  }

}
